<div class="status-group">

	<div ng-repeat="card in cards"
		class="well card">
		<textarea
			rows="1"
			ng-model="card.title"
			class="form-control"
			ng-blur="card.$update();"
			ng-keyup="press($event, $elm);"
			msd-elastic
			focus-me="card.id==-1"
			></textarea>
		<button
			type="button"
			class="close"
			aria-hidden="true"
			ng-click="remove(card);">&times;</button>
	</div>

	<div class="add-card">
		<a href="#" ng-click="add();$event.preventDefault();">Add a card...</a>
	</div>
</div>